<mat-card class="example-card">
 
  <mat-card-header>
    <div mat-card-avatar *ngIf = "categoryImage"> 
       <img [src] = "categoryImage"> 
    </div>
    <mat-card-title>{{category}}</mat-card-title>
    <mat-card-subtitle>classification result</mat-card-subtitle>
  </mat-card-header>


  <mat-card-content>
    <p>
      {{title}}
    </p>

    <form #classForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-select  [(ngModel)] = "category" name = "category" >
              <mat-option *ngFor = "let ca of categories" [value]="ca.cat">{{ca.cat}}</mat-option>
            </mat-select>
          </mat-form-field>
              <button mat-raised-button color="primary" >Classify</button>
  
      </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button >Update</button>
    <!-- <button mat-button [routerLink]="'/list'">Save</button> -->
  </mat-card-actions>

</mat-card>


  